{#- commonMain: expect declarations -#}
package {{ namespace }}

import rs.koffi.KoffiHandleBase
import rs.koffi.KoffiHandle
import rs.koffi.KoffiSerializer

{# {%~ for i in ir.imports %}
import {{ i | qualified_name }}
{%- endfor %} #}

{#~ Data types -#}
{%- for s in ir.structs %}
{%- if !s.is_opaque %}

{%- if !s.doc.is_empty() %}
/**
 {%- for line in s.doc %}
 *{{ line }}
 {%- endfor %}
 */
{%- endif %}
data class {{ s.name }}(
{%- for field in s.fields %}
    val {{ field.name | camel_case }}: {{ field.ty | kotlin_type }},
{%- endfor %}
)
{%- endif %}
{%- endfor %}

{#- Enum / error types -#}
{%~ for e in ir.enums %}
{%- if !e.doc.is_empty() %}
/**
 {%- for line in e.doc %}
 *{{ line }}
 {%- endfor %}
 */
{%- endif %}
sealed class {{ e.name }} : rs.koffi.KoffiError() {
{%- for variant in e.variants %}
{%- if variant.fields.is_empty() %}
    object {{ variant.name }} : {{ e.name }}()
{%- else %}
    data class {{ variant.name }}(
{%- for field in variant.fields %}
        val {{ field.name | camel_case }}: {{ field.ty | kotlin_type }},
{%- endfor %}
    ) : {{ e.name }}()
{%- endif %}
{%- endfor %}
}
{%- endfor %}

{#- Opaque handles -#}
{%~ for s in ir.structs %}
{%- if s.is_opaque %}
{%- if !s.doc.is_empty() %}
/**
 {%- for line in s.doc %}
 *{{ line }}
 {%- endfor %}
 */
{%- endif %}
expect class {{ s.name }} : rs.koffi.KoffiHandleBase {
    private constructor(handleId: Long)
{%- for f in ir.methods_of(s.name) %}
    {%- if !f.doc.is_empty() %}
    /**
     {%- for line in f.doc %}
     *{{ line }}
     {%- endfor %}
    */
    {%- endif %}
    {{ f.is_async | kotlin_async_kw }}fun {{ f.name }}({{ f.params | kotlin_params_common }}): {{ f.ret_ty | kotlin_type }}
{%- endfor %}
}
{%- endif %}
{%- endfor %}

{#- Free functions -#}
{%~ for f in ir.free_functions() %}
{%- if !f.doc.is_empty() %}
/**
 {%- for line in f.doc %}
 *{{ line }}
 {%- endfor %}
 */
{%- endif %}
expect {{ f.is_async | kotlin_async_kw }}fun {{ f.name }}({{ f.params | kotlin_params_common }}): {{ f.ret_ty | kotlin_type }}
{%- endfor %}
